BOT_TOKEN=COLE_O_TOKEN_DO_BOT_AQUI
BOT_USERNAME=RatoServices_bot
PUBLIC_BOT_URL=https://t.me/RatoServices_bot
# SUPPORT GROUP
# GROUP: Suporte RatoAcess
# COLOQUE SUPPORT_CHAT_ID=-5019357479 NO .ENV E REINICIE O BOT
# TEAM COMMANDS:
# /tickets
# /reply ID mensagem
# /close ID
SUPPORT_CONTACT=@seu_suporte
SUPPORT_CHAT_ID=-5019357479
DATABASE_URL=postgresql://postgres:senha@localhost:5432/ratoservices
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=true

SUPPLIER_API_BASE_URL=https://seu-painel-smm.com
SUPPLIER_API_SERVICES_PATH=/api/v2
SUPPLIER_API_TOKEN=COLE_A_CHAVE_DA_API_AQUI
SUPPLIER_API_TOKEN_HEADER=Authorization
SUPPLIER_API_TOKEN_PREFIX=Bearer

PRICE_MARKUP_MULTIPLIER=2.5
AFFILIATE_COMMISSION_PERCENT=10
SYNC_ON_START=true
MERCADOPAGO_ACCESS_TOKEN=COLE_O_TOKEN_DO_MERCADO_PAGO_AQUI
